$Blue: hsl(246, 80%, 60%);
// (work)
$Light-orange: hsl(15, 100%, 70%);
// (play)
$Soft-blue: hsl(195, 74%, 62%);
// (study)
$Light-red: hsl(348, 100%, 68%);
// (exercise)
$Lime-green: hsl(145, 58%, 55%);
// (social)
$Violet: hsl(264, 64%, 52%);
// (self care)
$Soft-orange: hsl(43, 84%, 65%);

// Neutral
$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);

// Layout Variables
$ProfilePadding: 1.5rem;
$BorderRadius: 1rem;
